{% extends 'base.html' %}
{% block content %}
  <div>
    <h1>Start Planning Your Next Vacation!</h1>
    <h3>Please Choose a Destination Below</h2>
    <ul>
      {% for destination in destinations %}
          <li>
              <h4 class="destName">{{ destination.name }}</h4>
              <p class="destDesc">{{ destination.description }}</p>
          </li>
      {% endfor %}
  </ul>
  <a class="btn btn-small alert-danger" href="/route">Next</a>
  <a class="btn btn-small" href="/itin">Iten</a>
  </div>
{% endblock %}