{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/itin.css">

<div class="text-center">
    <h1 class="trip-title">{{ trip.name }}</h1>
</div>

<div class="container">
    <table class="table table-striped blue-background-table">
        <tr class="days-header">
            <th></th>
            {% for date in dates %}
            <th>{{ date }}</th>
            {% endfor %}
        </tr>
        {% for hour in [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22] %}
        {% set outerloop = loop %}
        <tr class="table-row">
            <td>{{ hour }}:00</td>
            {% for date in dates %}
                <td class="table-input" row="{{ outerloop.index }}" col="{{ loop.index }}">
                    {% if date != '' and hour != '' %}
                        <textarea type="text" class="table-text">
                            {% if date in itinerary_data and hour in itinerary_data[date] %}
                                {{ itinerary_data[date][hour] }}
                            {% endif %}
                        </textarea>
                    {% else %}
                        <textarea type="text" class="table-text"></textarea>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<div class="text-center">
    <a href="/route" class="btn btn-primary">Go to Route</a>
</div>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/itinerary.js"></script>

{% endblock %}
